.about {
  margin-bottom: 70px;
}
.about__header {
  text-align: center;
}

.about__title {
  margin-top: 50px;
  font-size: 30px;
  @include font-open-sans(Regular);
  text-transform: uppercase;
}

.about__text {
  margin: 0 auto;
  width: 70%;
  @include font-pt-sans(55);
  font-size: 15px;
  @include laptop() {
    width: 100%;
  }
}

.about__button {
  opacity: .6;
  margin-top: 20px;
  border: 2px solid $textcolor !important;
  color: $textcolor !important;
  &:hover {
    background: #fff !important;
    color: $textcolor !important;
  }
}

.about__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
  padding: 0 40px;
  text-align: center;
  margin-bottom: 10px;

  &:nth-child(2) {
    margin-top: 40px;
  }
  @include laptop() {
    &:nth-child(2) {
      margin-top: 0px;
    }
  }
}

.about__item__image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.about__svg {
  height: 100%;
  fill: none;
  stroke: rgba($maincolor, .7);
  stroke-width: 3px;
  stroke-dasharray: 0% 100%;
  transition: all 5s;
}

.about__item:nth-child(2) {
  & .about__svg {
    transition-delay: 1s;
  }
}

.about__item:nth-child(3) {
  & .about__svg {
    transition-delay: 2s;
  }
}

.showed {
  stroke-dasharray: 100% 0%;
}

.about__item__title {
  @include font-open-sans(Regular);
  font-size: 22px;

  line-height: 26px;
  color: darken(#eeeeee, 50%);
  margin-bottom: 20px;
  & b {
    color: rgba($maincolor, .8);
  }
}

.about__item__text {
  @include font-pt-sans(55);
  font-size: 14px;
  color: darken(#eeeeee, 40%);
}