.end {
  background-image: url(../img/silver-footer.png);
}

.end__block__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.end__about, .end__amenities, .end__contacts {
  flex: 1 1 300px;
  margin-left: 40px;
  color: #c1c1c1;
}

.end__title {
  font-size: 18px;
  @include font-pt-sans(75);
  text-transform: uppercase;
  color: rgba(#fff,.8);
  &:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 50px;
    height: 1px;
    background: $maincolor;
  }
}

.end__about__desc {
  font-size: 14px;
  color: #c1c1c1;
}

.end__menu {

  & .menu__link {
    font-size: 14px;
    color: #c1c1c1;
    transition: all .5s;

    &:hover {
      color: $maincolor;
    }
  }
}

.end__home {
  margin-bottom: 10px;
}

