.map-block {
  margin-bottom: 50px;
}

.panorama {
  margin-bottom: 20px;
}

.map-block__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;

  & .new {
    margin: 10px 0 70px 0;
    padding-top: 40px;
    position: relative;
    width: 100%;
    text-align: center;

    & b.line1{
      display: block;
      @include font-open-sans(Bold);
      letter-spacing: -2px;
      color: rgba($maincolor, .9) !important;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 48px;
    }
    & b.line2{
      display: block;
      color: rgba(black, .7);
      font-weight: lighter;
      font-size: 36px;
    }
    & b.line3{
      display: block;
      color: rgba(black, .7);
      font-size: 22px;
    }
  }

}

.map-block__title {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
  border-bottom: 3px solid #333333;
  text-align: left;
  font-size: 32px;
  text-transform: uppercase;
  color: #333333;
  @include font-pt-sans(75);
}

.map {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  min-height: 400px;
  background: rgba(silver, .1);
}

.map__map {
  flex: 2 1 300px;
  width: 100%;
  margin-right: 50px;
  overflow: hidden;
  @include laptop() {
    flex: 1 1 100%;
    margin-right: 0;
  }
}

.map-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  margin-top: 20px;
  @include laptop() {
    flex: 1 1 100%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.map-info__title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 7px;
  color: rgba(#000, .7);
}

.map__adress .contact__text {
  font-size: 16px;
}
