.table-price {
  width: 100% !important;
  padding: 10px !important;
  border: 2px solid rgba(#000, .2) !important;
  border-collapse: collapse;
}

.table-price tr{
  border: 2px solid rgba(#000, .2) !important;
  border-collapse: collapse;
}

.table-price td{
  padding: 10px !important;
  border: 2px solid rgba(#000, .2) !important;
  border-collapse: collapse;
}

.table-price a{
  color: $textcolor;
  cursor: default;
}