.mini-content__img_shop {
  max-width: 50%;
}

.shop__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -20px;
}

.shop__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
  margin: 0 0 20px 20px;
  overflow: hidden;
}

.shop__title {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.shop__img-block {
  height: 100px;
}

.shop__img {
  height: 100%;

}