extends ../templatePages

block variables
	- var title = 'О нас - Техник автосервис'

block titles
	| О нас
block mainTitle
	| Техник автосервис - Ваш автосервис в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/about.jpg" srcset="assets/img/mobile/about-min.jpg 300w")
			p.mini-content__p
				strong "Техник автосервис" в Керчи
				|  имеет опыт работы в сфере обслуживания автомобилей уже более 20 лет. Мы регулярно обновляем свое оборудование и обучаем персонал работе с современными принципами обслуживания и ремонта автотранспорта.
			p.mini-content__p
				| Подобранная нами команда специалистов устранит большой спектр технических неисправностей, а также подготовит Ваше авто к наступающему сезону.
			p.mini-content__p
				| Всегда есть автохимия и масла в наличии в Керчи и под заказ по разумным ценам.
			p.mini-content__p
				| У нас Вы можете заказать запчасти для своего авто.
			p.mini-content__p
				| Для постоянных клиентов действует система лояльности.
			p.mini-content__p
				| На территории автосервиса расположена комфортная комната ожидания для клиента, в которой можно
				strong  выпить чашечку кофе
				|  и воспользоваться
				strong  интернетом.

		h3 Почему выбирают нас
		ul.vacancy__2
			li Большой выбор услуг
			li Качественно и в срок
			li Ремонт авто под КЛЮЧ
			li Магазин автохимии по оптовым ценам в розницу
			li Программа лояльности для постоянных клиентов
		p.mini-content__p
			| Выбрав "ТехникАвтосервис" Вы делаете разумный выбор в пользу своего автомобиля. Техник - Ваш автосервис.
