extends ../templatePages

block variables
	- var title = 'Услуги - Автосервис в Керчи'

block titles
	| О нас
block mainTitle
	| Наша уникальная команда
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/about.jpg")
			p.mini-content__p
				| Приветствуем Вас, дорогие посетители! Рады видеть Вас на сайте автосервиса AUTOSERVISE-MSK.
				|
				| Наш автосервис производит диагностику, техническое обслуживание и ремонт любой сложности бензиновых и дизельных двигателей и системы охлаждения, подвески, тормозной системы, трансмиссии, электрики автомобилей AUDI, BMW, Chevrolet, Citroen, Daewoo, Fiat, Ford, Honda, Hyundai, KIA, Landrover, Lexus, Mazda, Mercedes, Mitsubishi, Nissan, Opel, Peugeot, Renault, Seat, Skoda, Subaru, Suzuki, Toyota, Volkswagen, Volvo, ВАЗ, ГАЗ, УАЗ и других.
				|
				| Залогом успешной работы нашего автосервиса являются качественное высокотехнологическое оборудование и высококвалифицированные специалисты.
				|
				| Мы работаем быстро и профессионально, так, чтобы Вы были на 100% уверенны в своем автомобиле.
				|
				| Специалисты нашего автосервиса всегда окажут Вам помощь и проконсультируют по всем возникающим вопросам, дадут рекомендации, и рассчитают фактическую стоимость ремонта.

		h3 Почему выбирают нас
		ul.vacancy__2
			li Вы получаете лучший результат за ту же цену
			li Мы считаем, что желание клиента - прежде всего
			li Сарафонное радио говорит о нас
		p.mini-content__p
			| В 2016 ГОДУ НАМИ БЫЛО ОБСЛУЖЕНО 537 АВТОМОБИЛЕЙ
