extends ../templatePages

block variables
	- var title = 'Кузовные работы - Автосервис в Керчи'

block titles
	| Кузовные работы
block mainTitle
	| Кузовные работы для Вашего авто в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/kuzov.jpg" srcset="assets/img/mobile/kuzov-min.jpg 300w")
			p.mini-content__p
				| Техник Автосервис производит сварочные работы в Керчи практически любой сложности. Вытяжка геометрии кузова, полуавтоматическая сварка, газосварка, Рихтовка , вытяжка вмятин без рихтовки и покраски, пайка бамперов, покраска.
				br
				a(href="price.html" dataId="tab15") Прайс-лист на кузовные работы