extends ../templatePages

block variables
	- var title = 'Автоэлектрика в Керчи - Техник автосервис'
	- var description = "Услуги по автоэлектрике в автосервисе 'Техник автосервис'. Прайс по электроработам  и другую информацию можно узнать по тел. +7 (978) 717-87-02"
	- var keywords = "автоэлектрика, автоэлектрика в Керчи, автомобильная электрика"

block titles
	| Автоэлектрика
block mainTitle
	| Автоэлектрика для Вашего автомобиля в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/avtoelektrika.jpg" srcset="assets/img/mobile/avtoelektrika-min.jpg 300w")
			p.mini-content__p
				| Техник Автосервис предлагает установку практически любого оборудования по желанию клиента,
				| а также диагностику и устранение неисправностей устройств и электроцепи автомобиля в Керчи.
				br
				a(href="price.html" dataId="tab_4") Прайс-лист на электроработы