extends ../templatePages

block variables
	- var title = 'Кузовные работы, рихтовка для автомобиля в Керчи - Техник автосервис'
	- var description = "Автосервис 'Техник автосервис' проводит кузовные работы, сварку, рихтовку, вытяжку геометрии и вмятин любой сложности. Цены и подробнее об этой услуге по тел. +7 (978) 717-87-02"
	- var keywords = "кузовные работы Керчь, кузовные работы, рихтовка автомобиля Керчь, вытяжка кузова Керчь, автомобильная сварка, кузовные работы цены"

block titles
	| Кузовные работы
block mainTitle
	| Кузовные работы (рихтовка, сварка, вытяжка) авто в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/kuzov.jpg" srcset="assets/img/mobile/kuzov-min.jpg 300w")
			p.mini-content__p
				| Техник Автосервис производит сварочные работы в Керчи практически любой сложности. Вытяжка геометрии кузова, полуавтоматическая сварка, газосварка, Рихтовка , вытяжка вмятин без рихтовки и покраски, пайка бамперов, покраска.
				br
				//a(href="price.html" dataId="tab_15") Прайс-лист на кузовные работы