extends ../templatePages

block variables
	- var title = 'Препродажная диагностика - Автосервис в Керчи'

block titles
	| Препродажная дигностика
block mainTitle
	| Препродажная дигностика Вашего авто в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/diagnostics.jpg" srcset="assets/img/mobile/diagnostics-min.jpg 300w")
			p.mini-content__p
				| Очень часть новоиспеченные владельцы не желают тратить лишние деньги и время для проведения диагностики авто на СТО и напрасно, т.к недобросовестные предыдущие владельцы могут им продать «Кота в мешке» Если вы действительно хотите экономить своё время и средства при покупке автомобиля, то Техник автосервис рекомендует вам свою услугу «Предпродажная диагностика авто» в Керчи.

		p.mini-content__p Включает в себя:
		ul.vacancy__2
			li Комплексная диагностика ходовой части автомобиля.
			li Компьютерная диагностика датчиков и узлов электропроводки .
			li Диагностика тормозной системы
			li Визуальная диагностика подкапотного пространства.
			li Диагностика лакокрасочного покрытия и скрытых дефектов кузова