extends ../templatePages

block variables
	- var title = 'Автосервис фото - Техник автосервис'
	- var description = "Фото автосервиса 'Техник автосервис' в Керчи . Галерея оборудования автосервиса. Вопросы можно задать по тел. +7 (978) 717-87-02"
	- var keywords = "автосервис фото, фото автосервиса, авторемонт фото Керчь"

block titles
	| Галерея
block mainTitle
	| Наше оборудование
block mainDesc
	.gallery
		- for (var i = 0; i < gallery.link.length; i++)
			a.flipLightBox(href=`assets/img/gallery/${gallery.link[i]}.jpg`)
				.flipLightBox__img
					img(src=`assets/img/gallery/${gallery.link[i]}-min.jpg`)
				span.flipLightBox__text
					b= gallery.title[i]
					|  #{gallery.desc[i]}




