extends ../templatePages

block variables
	- var title = 'Обслуживание автомобиля в Керчи | Техник автосервис'
	- var description = "Автосервис проведет техническое обслуживание автомобиля в Керчи. Цены и подробности обслуживания узнайте по тел. +7 (978) 717-87-02"
	- var keywords = "автосервис, авторемонт, автосервис Керчь, обслуживание автомобиля, шиномонтаж керчь"

block titles
	| Замена тех. жидкостей и обслуживание
block mainTitle
	| Обслуживание Вашего автомобиля в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/zamena.jpg" srcset="assets/img/mobile/zamena-min.jpg 300w")
			p.mini-content__p
				| Техник автосервис осуществляет замену и доливку технических жидкостей а также замену фильтров. Низкие цены на автохимию.