extends ../templatePages

block variables
	- var title = 'Замена технических жидкостей авто и обслуживание - Автосервис в Керчи'

block titles
	| Замена тех. жидкостей и обслуживание
block mainTitle
	| Замена технических жидкостей и обслуживание Вашего авто в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/zamena.jpg" srcset="assets/img/mobile/zamena-min.jpg 300w")
			p.mini-content__p
				| Техник автосервис осуществляет замену и доливку технических жидкостей а также замену фильтров. Низкие цены на автохимию.