extends ../templatePages

block variables
	- var title = 'Прайс - Автосервис в Керчи'

block titles
	| Прайс - лист
block mainTitle
	| Цены на ремонт авто
block mainDesc
	table( cellpadding='0', cellspacing='0', width='642').table-price
		colgroup
			col
			col
			col
			col
		tbody
			tr(height='31')
				td(colspan='2', height='31', style='height:31px;width:385px;')
					strong ДВИГАТЕЛЬ - ЦЕНЫ НА РЕМОНТ
				td(style='width:131px;')  
				td(style='width:127px;')  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Капитальный ремонт 8 клапанов, классика
				td(rowspan='3', style='width:195px;') 10000-13000
				td(rowspan='3', style='width:131px;') 15000
				td(rowspan='3', style='width:127px;') 15000-80000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;')  
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Капитальный ремонт 16 клапанов
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Снятие и установка двигателя
				td(style='width:195px;')
					a(href='tel:4000-7500') 4000-7500
				td(style='width:131px;') 8000
				td(style='width:127px;') 10000-50000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена поршневых колец
				td(style='width:195px;')
					a(href='tel:5000-9000') 5000-9000
				td(style='width:131px;') 7500
				td(style='width:127px;')
					a(href='tel:4000-35000') 4000-35000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена маслосъемных колпачков
				td(style='width:195px;')
					a(href='tel:1800-3500') 1800-3500
				td(style='width:131px;') 3500
				td(style='width:127px;')
					a(href='tel:2500-20000') 2500-20000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена клапанной прокладки
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:1000-5000') 1000-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена успокоителя
				td(style='width:195px;') 800
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:1500-10000') 1500-10000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена ролика-натяжителя
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1500-10000') 1500-10000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена башмака
				td(style='width:195px;') 2500
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2500-25000') 2500-25000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена цепи
				td(style='width:195px;') 2500
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2500-25000') 2500-25000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена натяжителя цепи
				td(style='width:195px;')
					a(href='tel:300-1500') 300-1500
				td(style='width:131px;')
					a(href='tel:300-1500') 300-1500
				td(style='width:127px;')
					a(href='tel:1500-20000') 1500-20000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Регулировка цепи( натяжка)
				td(style='width:195px;')
					a(href='tel:300-1500') 300-1500
				td(style='width:131px;')
					a(href='tel:300-1500') 300-1500
				td(style='width:127px;')
					a(href='tel:500-5000') 500-5000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена переднего сальника (коленвала)
				td(style='width:195px;')
					a(href='tel:1500-2200') 1500-2200
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:2500-25000') 2500-25000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена сальника распредвала
				td(style='width:195px;')
					a(href='tel:800-1500') 800-1500
				td(style='width:131px;')
					a(href='tel:800-1500') 800-1500
				td(style='width:127px;')
					a(href='tel:500-5000') 500-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена распредвала
				td(style='width:195px;') 1200-1800
				td(style='width:131px;') 1800
				td(style='width:127px;')
					a(href='tel:2000-30000') 2000-30000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена прокладки поддона
				td(style='width:195px;') 1000-1200
				td(style='width:131px;') 1800
				td(style='width:127px;')
					a(href='tel:1000-5000') 1000-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена масляного насоса
				td(style='width:195px;')
					a(href='tel:1500-2500') 1500-2500
				td(style='width:131px;') 2200
				td(style='width:127px;')
					a(href='tel:1500-10000') 1500-10000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего сальника (коленвала)
				td(style='width:195px;') 2200
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:2500-12000') 2500-12000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена ремня генератора
				td(style='width:195px;') 300
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена помпы
				td(style='width:195px;')
					a(href='tel:800-2400') 800-2400
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:1000-15000') 1000-15000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена прокладки головки блока
				td(style='width:195px;') 5000
				td(style='width:131px;') 6000
				td(style='width:127px;')
					a(href='tel:5000-10000') 5000-10000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена масла
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:400-1500') 400-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Промывка двигателя и замена масла
				td(style='width:195px;') 600
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:600-2000') 600-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена ремня ГРМ
				td(style='width:195px;') 1200-2000
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:2500-15000') 2500-15000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена коллекторных прокладок
				td(style='width:195px;')
					a(href='tel:2000-2500') 2000-2500
				td(style='width:131px;')
					a(href='tel:2000-2500') 2000-2500
				td(style='width:127px;')
					a(href='tel:1500-7000') 1500-7000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена опоры двигателя 1шт
				td(style='width:195px;') 500
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена опоры двигателя кпп
				td(style='width:195px;') 500
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена свечей
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-4500') 500-4500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замер компрессии
				td(style='width:195px;') 500
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:500-3500') 500-3500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена термомуфты
				td(style='width:195px;')  
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:500-12000') 500-12000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Установка защиты картера
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:400-2500') 400-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена масла в КПП
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена масла в АКПП
				td(style='width:195px;') 1000
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:1500-3000') 1500-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена масла в мосту
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:400-1500') 400-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена воздушного фильтра
				td(style='width:195px;') 150
				td(style='width:131px;') 150
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена салонного фильтра
				td(style='width:195px;')
					a(href='tel:400-1000') 400-1000
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена головки блока цилиндров
				td(style='width:195px;') 5000
				td(style='width:131px;') 6000
				td(style='width:127px;')
					a(href='tel:5000-10000') 5000-10000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена гидрокомпенсаторов
				td(style='width:195px;') 3000
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:2500-9000') 2500-9000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена прокладки передней крышки
				td(style='width:195px;') 1500
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:2500-8000') 2500-8000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заглушек блока цилиндров
				td(style='width:195px;')
					a(href='tel:3000-6000') 3000-6000
				td(style='width:131px;') 6000
				td(style='width:127px;')
					a(href='tel:7000-20000') 7000-20000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена ремня гидроусилителя
				td(style='width:195px;')  
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:500-2600') 500-2600
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ТРАНСМИССИЯ - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена сцепления
				td(style='width:195px;') 1800
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2500-15000') 2500-15000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена вилки сцепления без снятия КПП
				td(style='width:195px;') 1000
				td(style='width:131px;') 1250
				td(style='width:127px;')  
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена главного цилиндра сцепления
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена КПП
				td(style='width:195px;') 2000
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:2500-12000') 2500-12000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена АКПП
				td(style='width:195px;') 4000
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:6000-45000') 6000-45000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Переборка КПП
				td(style='width:195px;') 6000
				td(style='width:131px;') 7000
				td(style='width:127px;')
					a(href='tel:6000-20000') 6000-20000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена привода в сборе
				td(style='width:195px;') 800
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена пыльника привода внутреннего
				td(style='width:195px;') 1200
				td(style='width:131px;') 950
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена пыльника привода наружнего
				td(style='width:195px;') 800
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена раздатки
				td(style='width:195px;')  
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2500-10000') 2500-10000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена маховика
				td(style='width:195px;') 2000
				td(style='width:131px;') 2700
				td(style='width:127px;')
					a(href='tel:2700-15000') 2700-15000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена сальника привода
				td(style='width:195px;') 1100
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:1100-2500') 1100-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена карданного вала
				td(style='width:195px;') 900
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1000-3500') 1000-3500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена эластичной муфты кардана
				td(style='width:195px;') 1200
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:1000-3500') 1000-3500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена подвесного подшипника
				td(style='width:195px;') 1200
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:800-3500') 800-3500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена 1-ой крестовины
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:700-3500') 700-3500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена троса сцепления
				td(style='width:195px;') 500
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:350-2000') 350-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена троса спидометра
				td(style='width:195px;') 800
				td(style='width:131px;') 700
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена редуктора
				td(style='width:195px;') 2200
				td(style='width:131px;')
					a(href='tel:2200-3500') 2200-3500
				td(style='width:127px;')
					a(href='tel:2000-7000') 2000-7000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена сальника выбора передач
				td(style='width:195px;') 400
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:500-6000') 500-6000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена рабочего цилиндра сцепления
				td(style='width:195px;') 600
				td(style='width:131px;') 700
				td(style='width:127px;')
					a(href='tel:600-2000') 600-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена троса газа
				td(style='width:195px;') 600
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена датчика заднего хода
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего сальника КПП
				td(style='width:195px;') 1400
				td(style='width:131px;') 1700
				td(style='width:127px;')
					a(href='tel:400-8000') 400-8000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена сальника редуктора
				td(style='width:195px;') 1200
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:500-3500') 500-3500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена прокладки редуктора
				td(style='width:195px;') 2500
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2000-7000') 2000-7000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена сальника КПП первичного вала
				td(style='width:195px;')
					a(href='tel:2200-2500') 2200-2500
				td(style='width:131px;') 3500
				td(style='width:127px;')
					a(href='tel:2500-12000') 2500-12000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена подушки раздатки 1шт
				td(style='width:195px;')  
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:1000-3500') 1000-3500
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong РУЛЕВОЙ МЕХАНИЗМ - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена рулевой тяги ( 1шт)
				td(style='width:195px;') 850
				td(style='width:131px;') 600-800
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена средней рулевой тяги
				td(style='width:195px;') 750
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;') 1200-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена маятника
				td(style='width:195px;') 800
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:800-1500') 800-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена рулевой трапеции (комплект)
				td(style='width:195px;') 1500
				td(style='width:131px;')
					a(href='tel:2200-4000') 2200-4000
				td(style='width:127px;')
					a(href='tel:2000-3500') 2000-3500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена рулевой рейки
				td(style='width:195px;') 2000
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:2500-9000') 2500-9000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена рулевой колонки
				td(style='width:195px;') 1200-1800
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2000-3500') 2000-3500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена кронштейна вала рулевого управлен
				td(style='width:195px;') 1000-1500
				td(style='width:131px;') 2500
				td(style='width:127px;')
					a(href='tel:2000-3500') 2000-3500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена рулевой машинки
				td(style='width:195px;') 2000
				td(style='width:131px;')
					a(href='tel:1000-5000') 1000-5000
				td(style='width:127px;')
					a(href='tel:2500-7000') 2500-7000
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ТОРМОЗНАЯ СИСТЕМА - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена передних колодок
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена задних колодок
				td(style='width:195px;') 700
				td(style='width:131px;') 700
				td(style='width:127px;')
					a(href='tel:600-2000') 600-2000
			tr(height='60')
				td(height='60', style='height:60px;width:191px;') Замена переднего тормозного цилиндра (1 шт)
				td(style='width:195px;') 400
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-1600') 500-1600
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тормозного шланга с прокачкой (1 шт)
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;') 400-900
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тормозной трубки с прокачкой (1 шт)
				td(style='width:195px;') 400
				td(style='width:131px;') 350-800
				td(style='width:127px;') 1000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена вакуумного усилителя
				td(style='width:195px;')
					a(href='tel:800-2500') 800-2500
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:1000-6000') 1000-6000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена троса ручного тормоза
				td(style='width:195px;')
					a(href='tel:900-1500') 900-1500
				td(style='width:131px;')
					a(href='tel:900-3000') 900-3000
				td(style='width:127px;')
					a(href='tel:1000-5000') 1000-5000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена штока ручного тормоза
				td(style='width:195px;') 1000-2000
				td(style='width:131px;') 600
				td(style='width:127px;') 600-800
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тормозного барабана ( 1 шт)
				td(style='width:195px;') 300
				td(style='width:131px;') 250
				td(style='width:127px;') 300-600
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена регулятора давления
				td(style='width:195px;')
					a(href='tel:1000-2200') 1000-2200
				td(style='width:131px;') 1600
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена суппорта в сборе ( 1 шт)
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Переборка суппорта ( 1 шт)
				td(style='width:195px;')  
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:1500-2500') 1500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тормозного диска ( 1 шт)
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Прокачка тормозной системы
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:400-1000') 400-1000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего тормозного диска ( 1 шт)
				td(style='width:195px;')  
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего тормозного цилиндра ( 1 шт)
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;') 600
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Регулировка троса ручного тормоза
				td(style='width:195px;') 300
				td(style='width:131px;') 300
				td(style='width:127px;') 300-800
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена главного тормозного цилиндра
				td(style='width:195px;') 500-900
				td(style='width:131px;')
					a(href='tel:900-1400') 900-1400
				td(style='width:127px;')
					a(href='tel:1500-5000') 1500-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена педального узла
				td(style='width:195px;')
					a(href='tel:1500-2500') 1500-2500
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:3000-6000') 3000-6000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена магистральн. тормозной трубки (1 шт)
				td(style='width:195px;') 1500
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тройника распредиления тормозов
				td(style='width:195px;') 500-800
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;')
					a(href='tel:600-1500') 600-1500
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ЭЛЕКТРОТЕХНИЧЕСКИЕ РАБОТЫ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена генератора
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:800-5000') 800-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена стартера
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:800-5000') 800-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена втягивающего реле
				td(style='width:195px;')
					a(href='tel:400-1200') 400-1200
				td(style='width:131px;') 1200-2000
				td(style='width:127px;')
					a(href='tel:600-5000') 600-5000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена моторчика омывателя
				td(style='width:195px;') 250
				td(style='width:131px;') 250
				td(style='width:127px;')
					a(href='tel:700-5000') 700-5000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена механизма стеклоочистителя
				td(style='width:195px;')
					a(href='tel:1000-2500') 1000-2500
				td(style='width:131px;')
					a(href='tel:800-1500') 800-1500
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена блока предохранителей
				td(style='width:195px;') 800
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1000-5000') 1000-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена замка зажигания
				td(style='width:195px;')
					a(href='tel:500-1200') 500-1200
				td(style='width:131px;')
					a(href='tel:800-1500') 800-1500
				td(style='width:127px;') 1000-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена коммутатора
				td(style='width:195px;') 300-700
				td(style='width:131px;') 300-700
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена тромблера
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Переборка трамблера
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Установить центр. замок 1 шт
				td(style='width:195px;')
					a(href='tel:300-1200') 300-1200
				td(style='width:131px;') 300-500
				td(style='width:127px;') 500-700
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена косы в двиг.отсеке 1шт
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000
				td(style='width:127px;') 1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена плат задних фонарей 1 шт
				td(style='width:195px;') 200-400
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:700-3000') 700-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена лампочки 1шт.
				td(style='width:195px;') 50-1000
				td(style='width:131px;') 50-1000
				td(style='width:127px;') 50-1000
			tr(height='60')
				td(height='60', style='height:60px;width:191px;') Установка электроподъемника стекла 1шт
				td(style='width:195px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:131px;') 1200
				td(style='width:127px;') 1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена активатора или подъемника
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;') 700
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена косы (полностью)
				td(style='width:195px;') 8000
				td(style='width:131px;') 8000
				td(style='width:127px;')
					a(href='tel:8000-50000') 8000-50000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена передней блок-фары 1 шт
				td(style='width:195px;')
					a(href='tel:300-1500') 300-1500
				td(style='width:131px;') 500-200
				td(style='width:127px;')
					a(href='tel:700-4500') 700-4500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего блок-фанаря 1 шт
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:700-2500') 700-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена наружного зеркала заднего вида обыч
				td(style='width:195px;') 350-500
				td(style='width:131px;') 350-600
				td(style='width:127px;')
					a(href='tel:400-1500') 400-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена наружн зеркала заднего вида электро
				td(style='width:195px;')
					a(href='tel:400-1000') 400-1000
				td(style='width:131px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:127px;')
					a(href='tel:700-2500') 700-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена бокового указателя поворота
				td(style='width:195px;') 200
				td(style='width:131px;') 200
				td(style='width:127px;') 350-500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена плафона освещения салона
				td(style='width:195px;') 400-800
				td(style='width:131px;') 400-600
				td(style='width:127px;')
					a(href='tel:200-6000') 200-6000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена щитка приборов
				td(style='width:195px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;')
					a(href='tel:1000-5000') 1000-5000
			tr(height='60')
				td(height='60', style='height:60px;width:191px;') Замена рычага переключения стеклоочистит
				td(style='width:195px;')
					a(href='tel:250-1500') 250-1500
				td(style='width:131px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='60')
				td(height='60', style='height:60px;width:191px;') Замена рычага переключения поворотника
				td(style='width:195px;')
					a(href='tel:250-1500') 250-1500
				td(style='width:131px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена форсунок омывателя стекол
				td(style='width:195px;') 500
				td(style='width:131px;') 750
				td(style='width:127px;') от 500
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong СИСТЕМА ОХЛАЖДЕНИЯ - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='100')
				td(height='120', rowspan='2', style='height:120px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена радиатора (вентилятора)
				td(style='width:195px;')
					a(href='tel:700-1200') 700-1200
				td(style='width:131px;')
					a(href='tel:900-1500') 900-1500
				td(style='width:127px;')
					a(href='tel:1000-6000') 1000-6000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена патрубка 1шт
				td(style='width:195px;') 150
				td(style='width:131px;') 200
				td(style='width:127px;') 300
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена тосола
				td(style='width:195px;') 600
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:600-1500') 600-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена тосола с промывкой
				td(style='width:195px;') 800
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена крана отопителя
				td(style='width:195px;')
					a(href='tel:900-2000') 900-2000
				td(style='width:131px;')
					a(href='tel:900-1500') 900-1500
				td(style='width:127px;')
					a(href='tel:1200-8000') 1200-8000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена печки
				td(style='width:195px;')
					a(href='tel:1200-6000') 1200-6000
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:1500-8000') 1500-8000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена вентилятора печки
				td(style='width:195px;')
					a(href='tel:600-6000') 600-6000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1000-10500') 1000-10500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена датчика вентилятора
				td(style='width:195px;') 300
				td(style='width:131px;') 300
				td(style='width:127px;') 400-600
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена датчика температуры
				td(style='width:195px;') 300
				td(style='width:131px;') 300
				td(style='width:127px;')
					a(href='tel:250-1000') 250-1000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена датчика масла
				td(style='width:195px;') 300
				td(style='width:131px;') 300
				td(style='width:127px;')
					a(href='tel:250-2500') 250-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена термостата
				td(style='width:195px;')
					a(href='tel:800-1000') 800-1000
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:800-3000') 800-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена расширительного бачка
				td(style='width:195px;') 150
				td(style='width:131px;') 200
				td(style='width:127px;')
					a(href='tel:200-1500') 200-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена расшир бочка системы охлаждения
				td(style='width:195px;') 150
				td(style='width:131px;') 200
				td(style='width:127px;')
					a(href='tel:350-1500') 350-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена бочка омывателя стекол
				td(style='width:195px;') 150
				td(style='width:131px;') 150
				td(style='width:127px;') 150-500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена патрубка головки блока цилиндров
				td(style='width:195px;') 250
				td(style='width:131px;') 350
				td(style='width:127px;') 450
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена патрубка в радиатор отопителя салона
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:600-1800') 600-1800
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена отводящего шланга радиатора
				td(style='width:195px;') 200
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:400-1600') 400-1600
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена ( снятие и установка торпеды )
				td(style='width:195px;')
					a(href='tel:3000-6000') 3000-6000
				td(style='width:131px;')
					a(href='tel:4000-6000') 4000-6000
				td(style='width:127px;')
					a(href='tel:3000-12000') 3000-12000
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ПЕРЕДНЯЯ ПОДВЕСКА - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='28')
				td(height='48', rowspan='2', style='height:48px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена амортизаторов 1 шт
				td(style='width:195px;') 600-900
				td(style='width:131px;') 900
				td(style='width:127px;')
					a(href='tel:700-3000') 700-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена 1-ой шаровой
				td(style='width:195px;') 400-500
				td(style='width:131px;')
					a(href='tel:500-1200') 500-1200
				td(style='width:127px;')
					a(href='tel:300-2500') 300-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена верхнего рычага 1шт
				td(style='width:195px;') 1000
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена нижнего рычага 1шт
				td(style='width:195px;') 1000
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена подшипника ступицы 1шт
				td(style='width:195px;') 800
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена втулки стабилизатора
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена передней пружины 1шт
				td(style='width:195px;') 600-900
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:700-5000') 700-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена стабилизатора
				td(style='width:195px;') 600
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:800-2500') 800-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена растяжки 1шт
				td(style='width:195px;') 500
				td(style='width:131px;')  
				td(style='width:127px;') 700
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена переднего кронштейна 1шт
				td(style='width:195px;') 400
				td(style='width:131px;')  
				td(style='width:127px;') 1000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена ступицы 1шт
				td(style='width:195px;') 800
				td(style='width:131px;') 1200
				td(style='width:127px;')
					a(href='tel:800-4000') 800-4000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена передней балки
				td(style='width:195px;')
					a(href='tel:2000-3000') 2000-3000
				td(style='width:131px;')
					a(href='tel:3000-4000') 3000-4000
				td(style='width:127px;') 4000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена опоры стоек 1шт
				td(style='width:195px;') 900
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:700-2000') 700-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена стоек стабилизатора 1 шт.
				td(style='width:195px;') 200-300
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:200-1000') 200-1000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена С.Б. верхнего рычага 1шт
				td(style='width:195px;') 1000
				td(style='width:131px;') 1000-1500
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена С.Б. нижнего рычага
				td(style='width:195px;') 1200
				td(style='width:131px;') 1000-1500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Регулировка подшибника 1шт
				td(style='width:195px;') 150
				td(style='width:131px;') 200
				td(style='width:127px;') 100-500
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ЗАДНЯЯ ПОДВЕСКА - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='28')
				td(height='48', rowspan='2', style='height:48px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена 1-ой реактивной тяги
				td(style='width:195px;') 500
				td(style='width:131px;')
					a(href='tel:400-1000') 400-1000
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена заднего амортизатора 1шт
				td(style='width:195px;') 400-600
				td(style='width:131px;')
					a(href='tel:800-3000') 800-3000
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена задней пружины 1шт
				td(style='width:195px;') 400-600
				td(style='width:131px;')
					a(href='tel:800-3000') 800-3000
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена подшипника 1шт
				td(style='width:195px;') 600
				td(style='width:131px;')
					a(href='tel:700-3500') 700-3500
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена полуоси 1шт
				td(style='width:195px;') 1000
				td(style='width:131px;')
					a(href='tel:800-2000') 800-2000
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена задней балки
				td(style='width:195px;') 2000
				td(style='width:131px;')
					a(href='tel:3200-5500') 3200-5500
				td(style='width:127px;')
					a(href='tel:4500-6000') 4500-6000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена сайлентблоков задней балки( комплект)
				td(style='width:195px;') 1800
				td(style='width:131px;')
					a(href='tel:1000-7500') 1000-7500
				td(style='width:127px;')
					a(href='tel:2000-4000') 2000-4000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена втулок амортизатора 1шт
				td(style='width:195px;') 800
				td(style='width:131px;')  
				td(style='width:127px;')  
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена реактивных тяг (комплект)
				td(style='width:195px;') 2200
				td(style='width:131px;') 2000
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Переприсовка подшибника на полуоси 1шт
				td(style='width:195px;') 1200
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ТОПЛИВНАЯ СИСТЕМА - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='28')
				td(height='48', rowspan='2', style='height:48px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена карбюратора
				td(style='width:195px;') 800
				td(style='width:131px;') 800
				td(style='width:127px;') 800
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена топливного фильтра
				td(style='width:195px;') 100-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:400-3000') 400-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена бензобака
				td(style='width:195px;')
					a(href='tel:600-1200') 600-1200
				td(style='width:131px;') 2000
				td(style='width:127px;')
					a(href='tel:1000-8000') 1000-8000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена шланга
				td(style='width:195px;') 250
				td(style='width:131px;') 250
				td(style='width:127px;')
					a(href='tel:200-1000') 200-1000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена воздушного фильтра
				td(style='width:195px;') 100
				td(style='width:131px;') 200
				td(style='width:127px;') 300
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена топливного насоса(электрический)
				td(style='width:195px;')
					a(href='tel:1000-2500') 1000-2500
				td(style='width:131px;')
					a(href='tel:1000-3000') 1000-3000
				td(style='width:127px;')
					a(href='tel:1000-3000') 1000-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена топливного насоса(механический)
				td(style='width:195px;') 500
				td(style='width:131px;') 900
				td(style='width:127px;') 900
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена топливной трубки (магистральной) 1шт
				td(style='width:195px;') 1500
				td(style='width:131px;') 1500
				td(style='width:127px;')
					a(href='tel:900-10000') 900-10000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена топливного датчика
				td(style='width:195px;')
					a(href='tel:300-2000') 300-2000
				td(style='width:131px;')
					a(href='tel:450-2000') 450-2000
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Продувка топливной системы
				td(style='width:195px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;')
					a(href='tel:500-3000') 500-3000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена тормозной жидкости
				td(style='width:195px;') 600
				td(style='width:131px;') 600
				td(style='width:127px;')
					a(href='tel:600-1000') 600-1000
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;')
					strong ГЛУШИТЕЛЬ - ЦЕНЫ НА РЕМОНТ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='28')
				td(height='48', rowspan='2', style='height:48px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена прокладки приемной трубы
				td(style='width:195px;') 700-800
				td(style='width:131px;')
					a(href='tel:1000-2500') 1000-2500
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена приемной части
				td(style='width:195px;') 700-800
				td(style='width:131px;')
					a(href='tel:1000-2500') 1000-2500
				td(style='width:127px;')
					a(href='tel:1000-4000') 1000-4000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена средней части
				td(style='width:195px;') 500
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;')
					a(href='tel:400-1000') 400-1000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена задней части
				td(style='width:195px;') 400
				td(style='width:131px;')
					a(href='tel:400-1000') 400-1000
				td(style='width:127px;')
					a(href='tel:350-1000') 350-1000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена одного хомута
				td(style='width:195px;') 150
				td(style='width:131px;') 200
				td(style='width:127px;') 250
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Сварочные работы глушителя
				td(style='width:195px;')  
				td(style='width:131px;')  
				td(style='width:127px;')
					a(href='tel:500-5000') 500-5000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Удаление болтов из коллектора
				td(style='width:195px;') 3000
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:1000-3500') 1000-3500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена прокладки коллектора
				td(style='width:195px;') 3000
				td(style='width:131px;') 3000
				td(style='width:127px;')
					a(href='tel:1000-3500') 1000-3500
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='31')
				td(height='31', style='height:31px;') АРМАТУРНЫЕ РАБОТЫ
				td  
				td  
				td  
			tr(height='20')
				td(height='20', style='height:20px;')  
				td  
				td  
				td  
			tr(height='28')
				td(height='48', rowspan='2', style='height:48px;width:191px;') Работы
				td(rowspan='2', style='width:195px;')
					| Отечественные
					br
					|      цена руб.
				td(rowspan='2', style='width:131px;')
					| Нива
					br
					|      цена руб.
				td(rowspan='2', style='width:127px;')
					| Иномарки
					br
					|      цена руб.
			tr(height='20')
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена бокового стекла 1 шт
				td(style='width:195px;') 500
				td(style='width:131px;') 700
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена ключевины боковой двери 1 шт
				td(style='width:195px;') 300
				td(style='width:131px;') 500
				td(style='width:127px;') 1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена ключевины багажника 1 шт
				td(style='width:195px;') 400
				td(style='width:131px;') 500
				td(style='width:127px;') 750
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена стеклоподъемника 1 шт
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:700-2000') 700-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Установка локеров 4 шт
				td(style='width:195px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:131px;')
					a(href='tel:700-1000') 700-1000
				td(style='width:127px;')
					a(href='tel:400-1000') 400-1000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Установка фаркопа
				td(style='width:195px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:131px;') 1000
				td(style='width:127px;')
					a(href='tel:1200-3000') 1200-3000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Установка брызговиков 2 шт
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-1000') 500-1000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Снятие и установка переднего бампера
				td(style='width:195px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:131px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Снятие и установка заднего бампера
				td(style='width:195px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:131px;')
					a(href='tel:500-1500') 500-1500
				td(style='width:127px;')
					a(href='tel:500-2500') 500-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Регулировка или ремонт замков 1 шт
				td(style='width:195px;') 200-500
				td(style='width:131px;') 500-800
				td(style='width:127px;') 500-800
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Снятие и установка обшивки двери 1 шт
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:800-2000') 800-2000
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Ремонт двери со разборкой обшивки двери
				td(style='width:195px;') 800
				td(style='width:131px;') 800
				td(style='width:127px;')
					a(href='tel:1000-2500') 1000-2500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена двери с переборкой
				td(style='width:195px;') 1500
				td(style='width:131px;') 2000
				td(style='width:127px;')
					a(href='tel:3000-5000') 3000-5000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена дверной ручки
				td(style='width:195px;') 500
				td(style='width:131px;') 500
				td(style='width:127px;') 500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена троса воздушной заслонки
				td(style='width:195px;') 400
				td(style='width:131px;') 400
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Замена троса привода замка капота
				td(style='width:195px;') 300-500
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Замена троса сцепления
				td(style='width:195px;') 350
				td(style='width:131px;') 500
				td(style='width:127px;')
					a(href='tel:500-2000') 500-2000
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Вскрытие двери
				td(style='width:195px;') 500-900
				td(style='width:131px;')
					a(href='tel:500-1000') 500-1000
				td(style='width:127px;')
					a(href='tel:500-1500') 500-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Вскрытие капота
				td(style='width:195px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:131px;')
					a(href='tel:600-1000') 600-1000
				td(style='width:127px;')
					a(href='tel:800-1500') 800-1500
			tr(height='20')
				td(height='20', style='height:20px;width:191px;') Вскрытие багажника
				td(style='width:195px;')
					a(href='tel:600-1200') 600-1200
				td(style='width:131px;')
					a(href='tel:600-1200') 600-1200
				td(style='width:127px;')
					a(href='tel:800-1500') 800-1500
			tr(height='40')
				td(height='40', style='height:40px;width:191px;') Сварочные работы со снятием задней балки
				td(style='width:195px;')
					a(href='tel:1500-5000') 1500-5000
				td(style='width:131px;')
					a(href='tel:2500-6000') 2500-6000
				td(style='width:127px;')
					a(href='tel:4000-9000') 4000-9000

