extends ../templatePages

block variables
	- var title = 'Цены на ремонт и обслуживание автомобиля | Техник автосервис'
	- var description = "Прайс на ремонт Вашего автомобиля в Керчи. Цены на обслуживание авто, шиномонтаж цены, переобувка цены, ремонт двигателя цены, кузовные работы цены, автоэлектрика и др. Дополнительно по тел. +7 (978) 717-87-02"
	- var keywords = "автосервис цены, авторемонт цены, автосервис Керчь цены, обслуживание автомобиля цены, шиномонтаж керчь цены"

block titles
	| Прайс - лист
block mainTitle
	| Цены на ремонт и обслуживание автомобиля в Керчи
block mainDesc
	section.tabs.table-price
		input#tab_1(type='radio', name='tab', checked)
		input#tab_2(type='radio', name='tab')
		input#tab_3(type='radio', name='tab')
		input#tab_4(type='radio', name='tab')
		input#tab_5(type='radio', name='tab')
		input#tab_6(type='radio', name='tab')
		input#tab_7(type='radio', name='tab')
		input#tab_8(type='radio', name='tab')
		input#tab_9(type='radio', name='tab')
		input#tab_10(type='radio', name='tab')
		input#tab_11(type='radio', name='tab')
		input#tab_12(type='radio', name='tab')
		input#tab_13(type='radio', name='tab')
		input#tab_14(type='radio', name='tab')
		//input#tab_15(type='radio', name='tab')

		label#tab_l1(for='tab_1') Шиномонтаж
		label#tab_l2(for='tab_2') Хранение резины
		label#tab_l3(for='tab_3') Переобувка
		label#tab_l4(for='tab_4') Автоэлектрика
		label#tab_l5(for='tab_5') Двигатель
		label#tab_l6(for='tab_6') Коробка передач
		label#tab_l7(for='tab_7') Карданный вал и задний мост
		label#tab_l8(for='tab_8') Передний привод и подвеска
		label#tab_l9(for='tab_9') Ступица
		label#tab_l10(for='tab_10') Тормозная система
		label#tab_l11(for='tab_11') Рулевое управление
		label#tab_l12(for='tab_12') Ремонт глушитилей
		label#tab_l13(for='tab_13') Радиатор и система охлаждения
		label#tab_l14(for='tab_14') Замена жидкостей и фильтров
		//label#tab_l15(for='tab_15') Кузовные работы
		.tabs_cont
			p.table-prev
				| Цены автосервиса на ремонт и обслуживание автомобиля указаны в БАЗОВОМ варианте. Возможно увеличение цены в зависимости от  возраста автомобиля , а также от сложности  выполненной работы (но не более 20%).Окончательную стоимость  работы  подводит менеджер(кассир) Техник автосервис после осмотра автомобиля мастером.
			#tab_c1
				table
					tr
						th Радиус колеса
						th 13\14
						th 15
						th 16
						th 17
						th 18
						th 19
						th 20
						th 21
						th УАЗ
						th ГазЕль
					tr
						td Снять/Уст. колесо
						td 50
						td 70
						td 80
						td 100
						td 100
						td 100
						td 120
						td 120
						td 120
						td 150
					tr
						td Шиномонтаж
						td 100
						td 100
						td 150
						td 150
						td 150
						td 200
						td 200
						td 200
						td 200
						td 200
					tr
						td Балансировка
						td 150
						td 180
						td 200
						td 250
						td 250
						td 300
						td 350
						td 350
						td 250
						td 300
					tr
						td Прокат дисков (Металлические)
						td 250
						td 400
						td 450
						td 450
						td 450
						td НЕТ
						td НЕТ
						td НЕТ
						td 800
						td 800
					tr
						td Исправление геометрии  1-сторона (Легкосплавные)
						td 350
						td 500
						td 550
						td 550
						td 600
						td 700
						td 800
						td 900
						td НЕТ
						td НЕТ
					tr
						td Ручная рихтовка
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
					tr
						td Чистка, мойка, удаление загрязнений Х1
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
						td 50
					tr
						td Переустановка 4х колес
						td 250
						td 300
						td 350
						td 450
						td 450
						td 450
						td 500
						td 500
						td 500
						td 800
					tr
						td Горячая вулканизация
						td 300
						td 400
						td 500
						td 600
						td 600
						td 800
						td 800
						td 800
						td 500
						td 800
					tr
						td Проверка давления(Подкачка) легковые авто 1х
						td 10
						td 10
						td 10
						td 10
						td 10
						td 10
						td 10
						td 10
						td 10
						td 10
					tr
						td Проверка давления(Подкачка) ГазЕль  1х
						td 20
						td 20
						td 20
						td 20
						td 20
						td 20
						td 20
						td 20
						td 20
						td 20
			#tab_c2
				table
					tr
						td(colspan="4")
							h2   Прайс на сезонное хранение резины 4 колеса (комплект)
					tr
						td
						td  
						td  
						td  
					tr
						th Размер колеса
						th 6 месяцев
						th 4 месяца
						th 1 месяц
					tr
						td R-13
						td 550р
						td 400р
						td 200р
					tr
						td R-14
						td 550р
						td 400р
						td 200р
					tr
						td R-15
						td 600р
						td 450р
						td 250р
					tr
						td R-16
						td 600р
						td 450р
						td 250р
					tr
						td R-17
						td 650р
						td 500р
						td 300р
					tr
						td R-18
						td 650р
						td 500р
						td 300р
					tr
						td R-19
						td 700р
						td 550р
						td 350р
					tr
						td R-20
						td 700р
						td 550р
						td 350р
					tr
						td
						td  
						td  
						td  
					tr
						td(colspan="4")
							h2 Прайс на сезонное хранение резины 2 колеса
					tr
						td
						td  
						td  
						td  
					tr
						th Размер колеса
						th 6 месяцев
						th 4 месяца
						th 1 месяц
					tr
						td R-13
						td 275р
						td 200р
						td 100р
					tr
						td R-14
						td 275р
						td 200р
						td 100р
					tr
						td R-15
						td 300р
						td 225р
						td 125р
					tr
						td R-16
						td 300р
						td 225р
						td 125р
					tr
						td R-17
						td 325р
						td 250р
						td 150р
					tr
						td R-18
						td 325р
						td 250р
						td 150р
					tr
						td R-19
						td 350р
						td 275р
						td 175р
					tr
						td R-20
						td 350р
						td 275р
						td 175р
			#tab_c3
				table
					tr
						th Размер
						th Железо
						th Микроавтобус /Легкосплав
						th Низкий профиль
						th Внедорожник
					tr
						td R-13
						td 1000
						td 1200
						td ----
						td ----
					tr
						td R-14
						td 1100
						td 1300
						td ----
						td 1300
					tr
						td R-15
						td 1200
						td 1400
						td 1400
						td 1400
					tr
						td R-16
						td 1400
						td 1600
						td 1600
						td 1600
					tr
						td R-17
						td 1600
						td 1800
						td 1800
						td 1800
					tr
						td R-18
						td 1800
						td 2000
						td 2000
						td 2000
					tr
						td R-19
						td 2000
						td 2200
						td 2200
						td 2200
					tr
						td R-20
						td 2200
						td 2400
						td 2400
						td 2400
					tr
						td R-21
						td 2400
						td 2700
						td 2700
						td 2700
					tr
						td R-22
						td 2500
						td 2900
						td 2900
						td 2900
					tr
						td(colspan="5")
							| В прейскуранте указана стоимость за переобувку 4-х колес, а также высокоточную балансировку.
			#tab_c4
				table
					tr
						th Наименование выполненных работ
						th Отечественные авто
						th Иномарки и 16 кл
					tr
						td Снятие/ установка генератора
						td от800
						td от900
					tr
						td Замена подшипников генератора
						td от1500
						td от1500
					tr
						td Снятие/ установка стартера
						td от700
						td от700
					tr
						td Замена датчика охлаждающей жидкости
						td от600
						td 500-1000
					tr
						td Замена свечей
						td от500
						td от5-1000
					tr
						td(colspan="3")
							h2 Лампы
					tr
						td Замена перед. лампы без с/у фары
						td от300
						td от300
					tr
						td Замена перед. лампы со с/у фары
						td от600
						td от600
					tr
						td Зам. лампы противотум. Фар без с/у защиты
						td от300
						td от300
					tr
						td Зам. лампы противотум. Фар со с/у защиты
						td от600
						td от600
					tr
						td Зам. лампы поворотника без с/у
						td от300
						td от300
					tr
						td Зам. лампы поворотника со с/у
						td от600
						td от600
					tr
						td Зам. лампы заднего фонаря без с/у
						td от300
						td от300
					tr
						td Зам. лампы заднего фонаря со с/у
						td от 600
						td от 600
					tr
						td Зам. лампы освещения номерного знака
						td от300
						td от300
					tr
						td(colspan="3")
							h2 Автозвук
					tr
						td Подключение автомагнитолы
						td от 700
						td от 700
					tr
						td С/у новой автомагнитолы
						td от 700
						td от 700
					tr
						td Подключение и установка перед динамиков
						td от 1200
						td от 1200

			#tab_c5
				table
					tr
						th Наименование выполненных работ
						th Отечественные авто
						th Иномарки и 16 кл
					tr
						td Замена ремня ГРМ
						td от 1200
						td от 3000
					tr
						td Замена помпы
						td от 1000
						td от 1500-2500
					tr
						td Замена подушки двигателя средняя правая
						td от 600
						td от 700
					tr
						td Замена подушки двигателя средняя левая
						td от 600
						td от 700
					tr
						td Замена подушки двигателя верх правая
						td от 500
						td от 600
					tr
						td Замена подушки двигателя нижняя правая
						td от 500
						td от 600
					tr
						td Замена подушки двигателя нижняя задняя
						td от500
						td от 600
					tr
						td Диагностика  Ходовой (в зависимости от габаритов авто)
						td от300р. 
						td
			#tab_c6
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена кпп в сборе
						td  от 3000
						td от 3000
						td 0т 3000
						td от 4000
						td от 4000
						td от 4000
					tr
						td Зам. сцепления (диска)
						td от 3000
						td от 3000
						td от 3000
						td от 4000
						td от 4000
						td от 4000
					tr
						td Зам. выж. подшипника
						td от 3000
						td от 3000
						td от 3000
						td от 4000
						td от 4000
						td от 4000
					tr
						td Зам.цилиндра сцепл.
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Зам. троса сцепл.+ рег.
						td от 500
						td от500
						td от 500
						td от 500
						td от 500
						td от 600
					tr
						td Зам. троса сцепл.+ рег.
						td от 500
						td от500
						td от 500
						td от 500
						td от 500
						td от 600
					tr
						td Зам. вилки сцепления
						td от 3000
						td от 3000
						td от 3000
						td от 4000
						td от 500
						td от 600
					tr
						td Прокачка сцепления
						td от 400
						td от 400
						td от 400
						td от 500
						td от 500
						td от 600

			#tab_c7
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена кардана в сборе
						td от600
						td от600
						td от600
						td от600
						td от600
						td от600
					tr
						td С/у с заменой 2-х крестовин
						td от1700
						td от1700
						td от1700
						td от1700
						td от1700
						td от1700
					tr
						td Зам. подвесного подшипника
						td от1200
						td от1200
						td от1200
						td от1200
						td от1200
						td от1200
					tr
						td Зам.эластичной муфты
						td от1200
						td 1200
						td от1200
						td от1200
						td от1200
						td от1200
					tr
						td Зам. крестовины на с- м валу
						td от500
						td от500
						td от600
						td от600
						td от600
						td от600
					tr
						td Зам. балки
						td от3000
						td от3000
						td от3000
						td от3500
						td от3500
						td от3500
					tr
						td Замена полуоси
						td от1400
						td от1400
						td от1400
						td от1400
						td от1400
						td от1400
					tr
						td Замена сальника полуоси
						td от1100
						td от1100
						td от1100
						td от1100
						td от1100
						td от1100
					tr
						td Замена сальника хвостовика
						td от800
						td от800
						td от800
						td от800
						td от800
						td от800
					tr
						td Зам. аммортизатора стойки
						td от600
						td от600
						td от600
						td от600
						td от600
						td 600
					tr
						td Замена 2-х пружин задних
						td от 1200
						td от1600
						td от1600
						td от 1600
						td от1600
						td от1600
					tr
						td Зам. компл. реактивных тяг
						td от2000
						td от2000
						td от2000
						td от2000
						td от2000
						td от2000
					tr
						td Замена стабилизатора(втулок)
						td от600
						td от600
						td от600
						td от600
						td от600
						td от600

			#tab_c8
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена привода в сборе
						td  
						td от1500
						td от1500
						td от1500
						td от1500
						td от1500
					tr
						td Зам.ШРУСа(пыльника)наруж.
						td  
						td от1000
						td от1000
						td от1200
						td от1000
						td от1000
					tr
						td Зам.ШРУСа(пыльника)внутр.
						td  
						td от1000
						td от1000
						td от1200
						td от1000
						td от1000
					tr
						td Замена комплекта пыльников
						td  
						td от2400
						td от2400
						td от2400
						td от2400
						td от2400
					tr
						td Замена хомута пыльника
						td  
						td от400
						td от400
						td от400
						td от400
						td от400
					tr
						td Замена 2-х пружин передних
						td от2000
						td от 2000
						td от 2000
						td от 2000
						td от 2000
						td от 2000
					tr
						td С/у рычага для зам.узлов и блоков
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Зам. рычага нижнего в сборе
						td от700
						td от700
						td от700
						td от700
						td от700
						td от700
					tr
						td Зам. рычага верхнего в сборе
						td от700
						td от700
						td от700
						td от700
						td от700
						td от700
					tr
						td Замена "Ромашек" за 1 шт
						td от300
						td от 300
						td от 300
						td от 300
						td от 300
						td от300
					tr
						td Замена сайлентблока 1 шт
						td от 200
						td от 200
						td от200
						td от 300
						td от 300
						td от300
					tr
						td Зам. шаровой на снятом рычаге 1шт
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
					tr
						td Замена шаровой
						td от 500
						td от 500
						td от 500
						td от500
						td от500
						td от500
					tr
						td Замена балки
						td от3000
						td от2500
						td от2500
						td от2500
						td от2500
						td от2500
					tr
						td Замена амортизатора
						td от400
						td от400
						td от400
						td от600
						td от400
						td от 500
					tr
						td Замена стабилизатора(втулок)
						td от 700
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Переборка передней подвески
						td от4500
						td от4500
						td от4500
						td от5000
						td от4500
						td от4500
					tr
						td Зам. передней стойки в сборе
						td  
						td от1000
						td от1000
						td от1000
						td от1000
						td от1000
					tr
						td Зам. верхней опоры стойки
						td  
						td от1000
						td от1000
						td от1000
						td от1000
						td от1000

			#tab_c9
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена в сборе
						td от 1000
						td от 1000
						td от 1000
						td от 1500
						td от1000
						td от1 500
					tr
						td Зам.подшипника ступицы пер.
						td от 1000
						td от 1000
						td от 1000
						td от 1500
						td от 1000
						td от 1500
					tr
						td Зам.подшипника ступицы зад.
						td от 800
						td от 800
						td от 800
						td от 1000
						td от 800
						td от 800
					tr
						td Регулировка зазора
						td от300
						td от300
						td от300
						td от300
						td от300
						td от300
					tr
						td С/у поворотного кулака
						td от 800
						td от 800
						td от 800
						td от 1000
						td от 800
						td от 1000

			#tab_c10
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена передних колодок
						td от 600
						td от 600
						td от 600
						td от 700
						td от 600
						td от 600
					tr
						td Зам.тормозного диска перед.
						td от 1000
						td от 1000
						td от 1000
						td от 1200
						td от 1200
						td от 1200
					tr
						td Зам. зад. колодок (барабан)
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
					tr
						td Зам. зад. колодок (дисковые)
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
					tr
						td Зам.тормозных дисков зад.
						td от 1500
						td от 1500
						td от 1500
						td от 1500
						td от 1500
						td от 1500
					tr
						td Зам. перед. Торм. циллиндра
						td от 800
						td от 700
						td от 700
						td от 1000
						td от 700
						td от 800
					tr
						td Зам. зад. Торм. циллиндра
						td от 800
						td от 800
						td от 800
						td от 1000
						td от 1000
						td от 1000
					tr
						td Замена суппорта в сборе
						td от 800
						td от 700
						td от 700
						td от 1000
						td от 700
						td от 600
					tr
						td Зам. торм. Трубок перед.
						td от 800
						td от 800
						td от 800
						td от 1000
						td от 800
						td от 1000
					tr
						td Зам. торм. Трубок зад.
						td от 900
						td от 900
						td от 900
						td от 1100
						td от 800
						td от 1100
					tr
						td Зам. торм. Трубки средней
						td от 800
						td от 800
						td от 800
						td от 1000
						td от 800
						td от 1200
					tr
						td Зам. вакуумного усил. Торм.
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
					tr
						td Зам. троса ручника длинного.
						td от 1200
						td от 1200
						td от 1200
						td от 1200
						td от 1200
						td от 1200
					tr
						td Прокачка тормозов
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
					tr
						td регулировка ручного тормоза
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
					tr
						td Разработка направляющих
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 600

			#tab_c11
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена рулев. Рейки
						td от2500
						td от2500
						td от2500
						td 3000
						td от3000
						td от3000
					tr
						td Зам. пыльника рулевой рейки
						td от 1200
						td от 1200
						td от 1200
						td от 1200
						td от 1200
						td от 1500
					tr
						td Замена одного наконечника
						td от400
						td от400
						td от400
						td от400
						td от400
						td от 400
					tr
						td Замена короткой тяги в сборе
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Замена средней тяги
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
					tr
						td Замена маятника
						td от800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
					tr
						td Замена внутр. тяги на рейке
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
					tr
						td Замена колонки рулевого вала
						td от 700
						td от 700
						td от 800
						td от 1000
						td от 800
						td от 1200
					tr
						td Замена ГУР
						td  
						td от 1000
						td от 1000
						td от1000
						td от 1000
						td от 1000
					tr
						td Замена втулок маятника
						td от 900
						td от 900
						td от 900
						td от 900
						td от 900
						td от 900
					tr
						td Зам. рул. трапеции в сборе
						td от 2500
						td от 2500
						td от 2500
						td от 2500
						td от 2500
						td от 2500
					tr
						td Замена тяги в сборе на рейке
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800

			#tab_c12
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Зам. прокл. приемной трубы
						td от 700
						td от 700
						td от 700
						td от 800
						td от 700
						td от 700
					tr
						td Зам. части приемной трубы
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
						td от 700
					tr
						td Замена резонатора
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Замена глушителя
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Сварочные работы 1 час
						td 1100
						td 1100
						td 1100
						td 1100
						td 1100
						td 1100
					tr
						td Замена гофры
						td от 1500
						td от 1500
						td от 1500
						td от 1500
						td от 1500
						td от 1500
					tr
						td Замена  глушителя в сборе
						td от1500
						td от1500
						td от1500
						td от1500
						td от1500
						td от1500

			#tab_c13
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Зам. радиатора охлаждения
						td от1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от1000
					tr
						td Замена патрубка 1 шт.
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
					tr
						td Замена термостата
						td от 800
						td от800
						td от 8оо
						td от 800
						td от 800
						td от 800
					tr
						td Замена водяного насоса
						td от 800
						td от 1500
						td от 1500
						td от 1500
						td от 2500
						td от 1500
					tr
						td Зам. вентилятора охлаждения
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
						td от 800
					tr
						td Замена краника печки
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
					tr
						td Замена радиатора отопителя
						td от 1000
						td от 1500
						td от 1500
						td от 1500
						td от 1500
						td от 2500
					tr
						td Замена патрубков печки
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
						td от 1000
					tr
						td Зам. тройника печки отоп-я
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300

			#tab_c14
				table
					tr
						th Ремонт
						th 2101-07
						th 2108-099
						th 2110
						th Нива
						th 16 клап.
						th Иномарка
					tr
						td Замена масла и фильтра в ДВС
						td от 400
						td от 400
						td от 400
						td от 400
						td от 400
						td от 400
					tr
						td Замена масла и ф в ДВС с защитой
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
					tr
						td Замена топливного фильтра
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
					tr
						td Замена масла в КПП
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
					tr
						td Промывка системы охлажд.
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
					tr
						td Замена охлаждающ. Жидкости
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
						td от 600
					tr
						td Снятие/установка защиты ДВС
						td от 100
						td от 100
						td от 100
						td от 100
						td от 100
						td от 100
					tr
						td Замена салонного фильтра
						td от 400
						td от 400
						td от 400
						td от 400
						td от 400
						td от 400
					tr
						td Зам. торм. жидкости+прокачка
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
						td от 500
					tr
						td Замена возд.фильтра
						td от 200
						td от 300
						td от 300
						td от 300
						td от 300
						td от 300
					tr
						td Замена салонного фильтра
						td от 200
						td до 1000
						td  
						td  
						td  
						td
			//#tab_c15
			//	table
			//		tr
			//			th Ремонт
			//			th 2101-07
			//			th 2108-099
			//			th 2110
			//			th Нива
			//			th 16 клап.
			//			th Иномарка
			//		tr
			//			td Замена масла и фильтра в ДВС
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//		tr
			//			td Замена масла и ф в ДВС с защитой
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//		tr
			//			td Замена топливного фильтра
			//			td от 300
			//			td от 300
			//			td от 300
			//			td от 300
			//			td от 300
			//			td от 300
			//		tr
			//			td Замена масла в КПП
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//		tr
			//			td Промывка системы охлажд.
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//		tr
			//			td Замена охлаждающ. Жидкости
			//			td от 600
			//			td от 600
			//			td от 600
			//			td от 600
			//			td от 600
			//			td от 600
			//		tr
			//			td Снятие/установка защиты ДВС
			//			td от 100
			//			td от 100
			//			td от 100
			//			td от 100
			//			td от 100
			//			td от 100
			//		tr
			//			td Замена салонного фильтра
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//			td от 400
			//		tr
			//			td Зам. торм. жидкости+прокачка
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//			td от 500
			//		tr
			//			td Замена возд.фильтра
			//			td от 200
			//			td от 300
			//			td от 300
			//			td от 300
			//			td от 300
			//			td от 300
			//		tr
			//			td Замена салонного фильтра
			//			td от 200
			//			td до 1000
			//			td  
			//			td  
			//			td  
			//			td



