extends ../templatePages

block variables
	- var title = 'Шиномонтаж - Автосервис в Керчи'

block titles
	| Шиномонтаж
block mainTitle
	| Шиномонтаж в Керчи
block mainDesc
	.amenities__container
		.mini-content
			img.mini-content__img(src="assets/img/1-min.jpg" srcset="assets/img/mobile/1-min-min.jpg 300w")
			p.mini-content__p
				| "Техник автосервис" в Керчи предлагает вам услуги шиномонтажа. Наши специалисты по шиномонтажу прошли сертификацию по системе РОССВИК и имеют стаж работы не менее 2 лет.
			p.mini-content__p
				| Также благодаря современному оборудованию наши сотрудники могут осуществлять быстрый и качественный ремонт автошин.
			p.mini-content__p
				| Ознакомиться с прайс-листом шиномонтажа в Керчи можно
				a(href="price.html" dataId="tab_1")  здесь...
