extends ../templatePages

block variables
	- var title = 'Прием на работу - Автосервис в Керчи'

block titles
	| Магазин
block mainTitle
	| Наш автомагазин
block mainDesc
	.mini-content
		img.mini-content__img.mini-content__img_shop(src="assets/img/shop.png" srcset="assets/img/mobile/shop-min.jpg 300w")
		p.mini-content__p
			| В Керчи по разумным ценамВсем привет я маленькое описание вашего сайта Профессиональный ремонт автомобилей в Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумным ремонт автомобилей в Керчи по разумным
		p.mini-content__p
			| Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумным ценамв Керчи по разумным ценам
	h3  У нас вы можете приобрести такие товары, как:
	ul.shop__list
		- for(var i = 0; i < shop.title.length; i++)
			li.shop__item
				b.shop__title= shop.title[i]
				.shop__img-block
					img(src=`assets/img/${shop.src[i]}` srcset=`${shop.srcmini[i]} 300w`).shop__img
