extends ../templatePages

block variables
	- var title = 'Прием на работу - Автосервис в Керчи'

block titles
	| Вакансии
block mainTitle
	| Прием к нам на работу
block mainDesc
	.mini-content
		img.mini-content__img(src="assets/img/vacancy.jpg")
		p.mini-content__p
			| В Керчи по разумным ценамВсем привет я маленькое описание вашего сайта Профессиональный ремонт автомобилей в Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумным ремонт автомобилей в Керчи по разумным
		p.mini-content__p
			| Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумным ценамв Керчи по разумным ценамВсем привет я маленькое описание вашего сайта Профессиональный ремонт автомобилей в Керчи по разумным ценам
	h3 Нам требуются
	ul.vacancy__1
		li автомеханик
		li автоэлектрик
	h3 Условия работы
	ul.vacancy__2
		li Условия
		li Условия
		li Условия
		li Условия
		li Условия
	p
		| Звоните нам по всем вопросам
		b  +7 (978) 717-87-02
	p
		| Или приходите
		b  ул. Орджоникидзе 151