extends ../templatePages

block variables
	- var title = 'Прием на работу - Автосервис в Керчи'
	- var description = "Вакансии автосервиса 'Техник автосервис' в Керчи. Прием на работу в автосервис. Подробности по тел. +7 (978) 717-87-02"
	- var keywords = "автосервис вакансии, авторемонт вакансии, автосервис Керчь вакансии, прием на работу автосервис, шиномонтаж керчь вакансии"

block titles
	| Вакансии
block mainTitle
	| Прием к нам на работу
block mainDesc
	.mini-content
		img.mini-content__img(src="assets/img/vacancy.jpg" srcset="assets/img/mobile/vacancy-min.jpg 300w")
		p.mini-content__p
			| Техник автосервис всегда готов принять на работу хороших специалистов со стажем работы. Достойная зарплата, хорошие условия - одни из многих других причин работать у нас. Если Вы готовы вступить в нашу команду - мы Вас ждем.
	h3 Нам требуются
	ul.vacancy__1
		li автослесарь
		li автоэлектрик
		li шиномонтажник
		li маляр
		li жестянщик (кузовщик)
	h3 Требования
	ul.vacancy__1
		li опыт работы сотрудников не менее 3-х лет
	h3 Мы предоставляем
	ul.vacancy__2
		li Официальное оформление
		li Полный соц. пакет
		li Достойную зарплату
	p
		| Доступны только по 1 вакансии, ЗВОНИТЕ СЕЙЧАС!
		br
		| Время звонка с 8-00 до 19-00
	br
	p
		| По всем вопросам:
		b= contacts.phone
	p
		| Или приходите:
		b= contacts.address