extends ../templatePages

block variables
	- var title = 'Прием на работу - Автосервис в Керчи'

block titles
	| Вакансии
block mainTitle
	| Прием к нам на работу
block mainDesc
	.mini-content
		img.mini-content__img(src="assets/img/vacancy.jpg" srcset="assets/img/mobile/vacancy-min.jpg 300w")
		p.mini-content__p
			| В Керчи по разумным ценамВсем привет я маленькое описание вашего сайта Профессиональный ремонт автомобилей в Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумнымремонт автомобилей в Керчи по разумным ремонт автомобилей в Керчи по разумным
		p.mini-content__p
			| Керчи по разумным ценам Профессиональный ремонт автомобилей в Керчи по разумным ценамв Керчи по разумным ценамВсем привет я маленькое описание вашего сайта Профессиональный ремонт автомобилей в Керчи по разумным ценам
	h3 Нам требуются
	ul.vacancy__1
		li автослесарь
		li автоэлектрик
		li шиномонтажник
		li маляр
		li жестянщик (кузовщик)
	h3 Требования
	ul.vacancy__1
		li опыт не менее 1 года
	h3 Мы предоставляем
	ul.vacancy__2
		li Официальное оформление
		li Полный соц. пакет
		li Достойную зарплату
	p
		| Доступны только по 1 вакансии, ЗВОНИТЕ СЕЙЧАС!
	br
	p
		| По всем вопросам:
		b= contacts.phone
	p
		| Или приходите:
		b= contacts.address